.select .main {
  margin-top: 5px;

  border: 1px solid black;
  display: inline-block;
  min-height: 20px;
  min-width: 60px;
}

.items {
  position: absolute;
  padding: 5px;
  border: 1px solid black;
}

.item.selected {
  background-color: blue;
  color: white;
}